.main__container {
    margin: 20px 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one {
    flex: 0.3;
    background-color: red;
    height: 100%;
    width: 100%;
}

.two {
    flex: 0.7;
    background-color: blue;
    height: 100%;
    width: 100%;
}